<table border ='2'>
    <tr>
        <td>Numero de reservation</td>
        <td>Date de réservation</td>
        <td colspan='3'> Actions </td>
    </tr>
    {%for reservation in reservations%}
        <tr>
            <td>{{reservation.numero}}</td>
            <td>{{reservation.date| date("m/d/y") }}</td>
            <td><a href="{{path ('add') }}"> add réservation</a></td>
            <td><a href="{{path ('update', {'id' : reservation.id }) }}"> update réservation</a></td>
            <td><a href="{{path ('delete', {'id' : reservation.id }) }}"> delete réservation</a></td>


        </tr>


    {%endfor%}
</table>