{% extends 'base.html.twig' %}

{% block body %}   
    <div class="destination-places">
        <div class="wrap">
            <div class="destination-places-head">
                <h3>Cheapest Destinations</h3>
            </div>
            <div class="criuse-grids">
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/Plaza de Cibeles-Madrid-2020-GettyImages-177320982.jpg"  />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>32<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>Spain</label><span>MADRID</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>2000 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href="{{ path('mapss') }}"><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/antaliya.jpg" title="criuse-name" />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>23<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>Turkey</label><span>ANTALIYA</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>950 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span> Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href=""><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/andalucia-spain.jpg" title="criuse-name" />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>29<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>Spain</label><span>ANDALUCIA</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>2150 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href="#"><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
            </div>
            <div class="criuse-grid">
                <div class="criuse-grid-head">
                    <div class="criuse-img">
                        <div class="criuse-pic">
                            <img src="front/images/venice_at_night-City_landscape_wallpaper_2560x1600.jpg" title="criuse-name" />
                        </div>
                        <div class="criuse-pic-info">
                            <div class="criuse-pic-info-top">
                                <div class="criuse-pic-info-top-weather">
                                    <p>25<label>o</label><i>c</i><span> </span></p>
                                </div>
                                <div class="criuse-pic-info-top-place-name">
                                    <h2><label>Italie</label><span>VENISE</span></h2>
                                </div>
                            </div>
                            <div class="criuse-pic-info-price">
                                <p><span>Starting Form</span> <h4>1750 Dt</h4></p>
                            </div>
                        </div>
                    </div>
                    <div class="criuse-info">
                        <div class="criuse-info-left">
                            <ul>
                                <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                <li><a class="c-air" href="#"><span> </span> Maps</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="criuse-info-right">
                            <ul>
                                <li><a class="c-face" href="#"><span> </span> </a></li>
                                <li><a class="c-twit" href="#"><span> </span> </a></li>
                                <li><a class="c-tub" href="#"><span> </span> </a></li>
                                <li><a class="c-pin" href="#"><span> </span> </a></li>
                            </ul>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="criuse-grid-info">
                    <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                </div>
            </div>
        </div>
        <!---//End-criuse-grids----->
        <!---start-destinations-pagenation---->
        <div class="destination-pagenate">
            <div class="wrap">
                <ul>
                    <a href="{{ path ('vol') }}"> <button type="button" class="btn btn-round btn-danger"><h3> << </h3></button> </a>
                    <a href="{{ path ('vol') }}"><button  type="button" class="btn btn-round btn-warning"><h3>1</h3></button> </a>
                    <a href="{{ path ('load') }}"> <button type="button" class="btn btn-round btn-danger"><h3>2</h3></button> </a>
                    <a href="{{ path ('load') }}"> <button type="button" class="btn btn-round btn-danger"><h3> >> </h3></button> </a>
                    <div class="clear"> </div>
                </ul>
            </div>
        </div>
    {% endblock % }