{% extends 'base.html.twig' %}

{% block body %}   
<!---start-destinatiuons---->
<div class="destinations">
    <div class="destination-head">
        <div class="wrap">
            <h3>Vols</h3>
        </div>
        <!---End-destinatiuons---->
        <div class="find-place dfind-place">
            <div class="wrap">
                <div class="p-h">
                    <span>TROUVEZ VOTRE</span>
                    <label>DESTINATION</label>
                </div>
                <!---strat-date-piker---->
                <script src="http://code.jquery.com/ui/1.9.2/front/jquery-ui.js"></script>
                <script>
                    $(function() {
                        $( "#datepicker" ).datepicker();
                    });
                </script>
                <!---/End-date-piker---->
                <div class="p-ww">
                    <form>
                        <span> Où</span>
                        <input class="dest" type="text" value="Destination" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Distination';}">
                        <input type="submit" value="Rechercher" />
                    </form>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
        <!----//End-find-place---->
    </div>
    <div class="destination-places">
        <div class="wrap">
            <div class="destination-places-head">
                <h3>Cheapest Destinations</h3>
            </div>
            <div class="criuse-grids">
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/Eiffel Tower_GettyImages-1005348968.jpg"  />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>10<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>France</label><span>PARIS</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>1550 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href="{{ path('maps') }}"><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/Istanbul-Travel-Guide-8-scaled-1.jpg" title="criuse-name" />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>30<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>Turkey</label><span>ISTANBUL</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>850 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span> Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href="{{ path('mapsis') }}"><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
                <div class="criuse-grid">
                    <div class="criuse-grid-head">
                        <div class="criuse-img">
                            <div class="criuse-pic">
                                <img src="front/images/Londres-Royaume-Uni.jpg" title="criuse-name" />
                            </div>
                            <div class="criuse-pic-info">
                                <div class="criuse-pic-info-top">
                                    <div class="criuse-pic-info-top-weather">
                                        <p>25<label>o</label><i>c</i><span> </span></p>
                                    </div>
                                    <div class="criuse-pic-info-top-place-name">
                                        <h2><label>England</label><span>LONDON</span></h2>
                                    </div>
                                </div>
                                <div class="criuse-pic-info-price">
                                    <p><span>Starting Form</span> <h4>1970 Dt</h4></p>
                                </div>
                            </div>
                        </div>
                        <div class="criuse-info">
                            <div class="criuse-info-left">
                                <ul>
                                    <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                    <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                    <li><a class="c-air" href="{{ path('maps') }}"><span> </span> Maps</a></li>
                                    <div class="clear"> </div>
                                </ul>
                            </div>
                            <div class="criuse-info-right">
                                <ul>
                                    <li><a class="c-face" href="#"><span> </span> </a></li>
                                    <li><a class="c-twit" href="#"><span> </span> </a></li>
                                    <li><a class="c-tub" href="#"><span> </span> </a></li>
                                    <li><a class="c-pin" href="#"><span> </span> </a></li>
                                </ul>
                            </div>
                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div class="criuse-grid-info">
                        <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                    </div>
                </div>
            </div>
            <div class="criuse-grid">
                <div class="criuse-grid-head">
                    <div class="criuse-img">
                        <div class="criuse-pic">
                            <img src="front/images/comment-obtenir-evisa-dubai-visa-electronique-action-visas.jpg" title="criuse-name" />
                        </div>
                        <div class="criuse-pic-info">
                            <div class="criuse-pic-info-top">
                                <div class="criuse-pic-info-top-weather">
                                    <p>35<label>o</label><i>c</i><span> </span></p>
                                </div>
                                <div class="criuse-pic-info-top-place-name">
                                    <h2><label>Emarat</label><span>DUBAI</span></h2>
                                </div>
                            </div>
                            <div class="criuse-pic-info-price">
                                <p><span>Starting Form</span> <h4>1750 Dt</h4></p>
                            </div>
                        </div>
                    </div>
                    <div class="criuse-info">
                        <div class="criuse-info-left">
                            <ul>
                                <li><a class="c-hotel" href="#"><span> </span>Nights VIp/Luurious hotel </a></li>
                                <li><a class="c-air" href="#"><span> </span> Air Ticket</a></li>
                                <li><a class="c-air" href="{{ path('maps') }}"><span> </span> Maps</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                        <div class="criuse-info-right">
                            <ul>
                                <li><a class="c-face" href="#"><span> </span> </a></li>
                                <li><a class="c-twit" href="#"><span> </span> </a></li>
                                <li><a class="c-tub" href="#"><span> </span> </a></li>
                                <li><a class="c-pin" href="#"><span> </span> </a></li>
                            </ul>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="criuse-grid-info">
                    <a class="btn" href="{{ path('magicmakers') }}">Réserver</a>
                </div>
            </div>
        </div>

        <!---//End-criuse-grids----->
        <!---start-destinations-pagenation---->
        <div class="destination-pagenate">
            <div class="wrap">
                <ul>
                    <a href="{{ path ('vol') }}"> <button type="button" class="btn btn-round btn-danger"><h3> << </h3></button> </a>
                    <a href="{{ path ('vol') }}"><button type="button" class="btn btn-round btn-warning"><h3>1</h3></button> </a>
                    <a href="{{ path ('load') }}"> <button type="button" class="btn btn-round btn-danger"><h3>2</h3></button> </a>
                    <a href="{{ path ('load') }}"> <button type="button" class="btn btn-round btn-danger"><h3> >> </h3></button> </a>


                    <div class="clear"> </div>
                </ul>
            </div>
        </div>
        <!---//End-destinations-pagenation---->
        <!---loading-more-script--->
        <!---//loading-more-script--->
    </div>


{% endblock body %}