{% extends 'base.html.twig' %}

{% block title %}Forum index{% endblock %}

{% block body %}
    <h1>Forum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Image</th>
                <th>Views</th>
                <th>Jaime</th>
                <th>Jaimepas</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td>{{ forum.id }}</td>
                <td>{{ forum.content }}</td>
                <td><img src="{{ asset('picture/' ~ forum.image) }}" alt="" width="130" height="130"  /></td>
                <td>{{ forum.views }}</td>
                <td>{{ forum.jaime }}</td>
                <td>{{ forum.jaimepas }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
